.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 50px;
    background-color: #6e819e;
  }

  .mainContent {
    display: flex;
    flex-direction: row;

    .roomList {
      width: 300px;
    }
    .roomView{
      width: 700px;
      background-color: white;

      p{
        font-size: 20px;
        text-align: center;
        color: #999;
        margin: 0;
        padding-top: 240px;
        padding-bottom: 240px;
      }
    }
  }
}
