.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .header {
    height: 50px;
    background-color: orange;
  }

  .mainContent {
    display: flex;
    flex-direction: row;

    .roomList {
      width: 400px;
    }
  }
}
