.container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 8px 5px 8px 30px;
}

.container:hover{
  background-color: #f6f4f5;
}

.avatar{
  display: inline-block;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
}

.username{
  display: inline-block;
  width: 76%;
  height: 20px;
  color: #94b5c2;
  font-size: 17px;
  font-weight: 600;
  padding: 5px 0 0 10px;
  text-decoration: none;
}

.text{
  display: block;
  width: 72%;
  height: auto;
  margin-left: 60px;
  margin-top: -20px;
  color: black;
}