.container {
  height: 570px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 0.5px solid #cfd0d2;
}
  h2{
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0;
  }
  :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }
  .searchInput{
    width: 60%;
    height: 20px;
    padding: 5px;
    display: block;
    margin: 15px auto;
    text-align: center;
    color: #cfd0d2;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #cfd0d2;
  }
  .list{
    width: 100%;
    overflow: hidden;
  }
  .list:hover{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .list::-webkit-scrollbar {
    display: block;
    width: 1px;
    padding: 0 5px;
  }
  .list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .list::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #cfd0d2;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  .list::-webkit-scrollbar-thumb:window-inactive {
    background: #cfd0d2;
  }


