html, body{
  height: 100%;
}
body{
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  font-size: 2em;
  color: #eee;
  text-align: center;
}
a{
  color: white;
  margin-left: 10px;
}

p{
  margin-top: 1em;
  text-align: center;
  color: #aaa;
}

