html, body{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 99%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  padding: 0px;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1 {
  margin: 0px;
}
p {
  margin: 0px;
}
a {
  font-weight: normal;
  transition: opacity 300ms ease;
  display: inline-block;
  color: #808080;
  text-decoration:none;
  padding: 10px;
} 
a:hover {
    opacity: 0.7;
}
.center {
  width: 800px;
  height: auto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -360px;
  margin-top: -100px;
  text-align: center;
}
.user{
  display: block;
  width: 50%;
 
}
.room{
  display: block;
  width: 50%;

}
.room-list {
  display: flex;
  flex-direction: column;
  margin: 8px 0 8px 0;
  justify-content: left;
  height: 100%;
}
.room-fetch-button{
  width:100px;
  height: 30px;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #fff;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(rgb(192,192,192), rgb(81,81,86)) rgb(192,192,192);
}
.user-fetch-button{
  width:100px;
  height: 30px;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(rgb(192,192,192), rgb(81,81,86)) rgb(192,192,192);
}
.token-input{
  width: 180px;
  height: 30px;
  padding: 0 10px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  border: 1px solid #000;
  border-radius: 10px;
}
.token-editor-container,.empty-room-list, .empty-user-card{
  width: 100%;
  margin-bottom: 25px;
}
.token-editor-container label{
  padding-right:5px;
}
.user-card{
  height: 100%;
}
.user-card h2{
  margin-bottom: 10%;
}
.user-avatar{
  display: block;
  max-width: 120px;
  height: auto;
  float: left;
}
.user-name{
  clear: left;
  float: right;
  width: 60%;
  text-align: left;
}
.user-name a{
  display: block;
  padding-left: 0;
  
}